
  <div>
    <h1>Search</h1>
    <input type="text" id="search-box" placeholder="Type your search...">
    <button id="search-button">Search</button>
  </div>

  <div>
    <h2>Top Searches</h2>
    <ul id="top-searches-list">
      <% @top_searches.each do |query, count| %>
        <li><%= "#{query} (#{count})" %></li>
      <% end %>
    </ul>
  </div>
  <%= javascript_include_tag 'search' %>
